<div class="mailing">
	<div class="wrapper">
		<div class="info_text">
			<p class="know_first">Узнай первым о новинках, мероприятиях и спецпредложениях</p>
			{# <p class="sale_30">Скидка до 30% на первый заказ, новым пользователям</p> #}
		</div>
		<form action="./form_callback.php" method="POST">

      <label class="page__hidden" for="email-footer">Введите свой email</label>
			<input type="email" name="email" id="email-footer" placeholder="Введите свой E-mail" required>

			<input type="submit" name="submit" value="Подписаться" class="btn-red">

      <label>
			<input value="{{ antispam }}" type="hidden" name="antispam">
		  </label>
		</form>
	</div>
</div>
<footer>
	<div class="wrapper">
		<div class="body">

			<div class="item catalog">
				<p class="title">Каталог</p>
        {% for category in categories %}
          <a href="{{ category.href }}">{{ category.name }}</a>
			  {% endfor %}
			</div>

			<div class="item to_customers">
				<p class="title">Покупателю</p>
				{# <a href="#">Оплата</a> #}
				<a href="/delivery">Доставка</a>
				{# <a href="/warranty">Гарантия</a> #}
				<a href="/exchange">Обмен и возврат</a>
				<a href="/contacts">Контакты</a>
			</div>
			<div class="item contacts">
				<p class="title">Контакты</p>
				{# <a href="https://yandex.ru/maps/?ll=37.613861%2C55.572295&mode=routes&rtext=~55.572447%2C37.609570&rtt=auto&ruri=~&utm_source=main_stripe_big&z=16" class="adress" target="_blank">г.Москва, МКАД 32-й км., вл.4</a> #}
        <a href="https://yandex.ru/maps/?ll=37.613861%2C55.572295&mode=routes&rtext=~55.572447%2C37.609570&rtt=auto&ruri=~&utm_source=main_stripe_big&z=16" class="adress" target="_blank">г.Москва, Варшавское шоссе, 21-й километр, с.26</a>
				<a href="tel:{{ telephone }}" class="phone">{{ telephone }}</a>
        <a href="tel:{{ whatsapp }}" class="phone">{{ whatsapp }}</a>
				<a href="mailto:{{ email }}" class="email">{{ email }}</a>
				<button class="btn-red" onclick="showModal()">Заказать звонок</button>
				<div class="socials">
					<a href="https://t.me/RumGips" class="telegram">
						<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20.7119 40.3796C31.7576 40.3796 40.7119 31.4253 40.7119 20.3796C40.7119 9.33394 31.7576 0.379639 20.7119 0.379639C9.66622 0.379639 0.711914 9.33394 0.711914 20.3796C0.711914 31.4253 9.66622 40.3796 20.7119 40.3796Z" fill="#039BE5"/>
							<path d="M20.7121 39.0463C31.0214 39.0463 39.3787 30.689 39.3787 20.3797C39.3787 10.0704 31.0214 1.71301 20.7121 1.71301C10.4028 1.71301 2.04541 10.0704 2.04541 20.3797C2.04541 30.689 10.4028 39.0463 20.7121 39.0463Z" fill="#039BE5"/>
							<path d="M9.86158 19.9442L29.1449 12.5092C30.0399 12.1859 30.8216 12.7275 30.5316 14.0809L30.5332 14.0792L27.2499 29.5475C27.0066 30.6442 26.3549 30.9109 25.4432 30.3942L20.4432 26.7092L18.0316 29.0325C17.7649 29.2992 17.5399 29.5242 17.0232 29.5242L17.3782 24.4359L26.6449 16.0642C27.0482 15.7092 26.5549 15.5092 26.0232 15.8625L14.5716 23.0725L9.63491 21.5325C8.56324 21.1925 8.53991 20.4609 9.86158 19.9442V19.9442Z" fill="white"/>
						</svg>
					</a>

					{# <a href="whatsapp://send?phone={{ whatsapp }}" class="whatsapp"> #}
          <a href="https://api.whatsapp.com:/send?phone=79151598877" class="whatsapp" target="_blank">
						<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20.7169 0.50647H20.7069C9.67941 0.50647 0.711914 9.47647 0.711914 20.5065C0.711914 24.8815 2.12191 28.9365 4.51941 32.229L2.02691 39.659L9.71441 37.2015C12.8769 39.2965 16.6494 40.5065 20.7169 40.5065C31.7444 40.5065 40.7119 31.534 40.7119 20.5065C40.7119 9.47897 31.7444 0.50647 20.7169 0.50647Z" fill="#75C067"/>
							<path d="M20.7167 1.83984H20.7074C10.4151 1.83984 2.04541 10.2118 2.04541 20.5065C2.04541 24.5898 3.36141 28.3745 5.59908 31.4475L3.27274 38.3822L10.4477 36.0885C13.3994 38.0438 16.9204 39.1732 20.7167 39.1732C31.0091 39.1732 39.3787 30.7988 39.3787 20.5065C39.3787 10.2142 31.0091 1.83984 20.7167 1.83984Z" fill="#75C067"/>
							<path d="M32.3528 28.5761C31.8703 29.9386 29.9553 31.0686 28.4278 31.3986C27.3828 31.6211 26.0178 31.7986 21.4228 29.8936C15.5453 27.4586 11.7603 21.4861 11.4653 21.0986C11.1828 20.7111 9.09033 17.9361 9.09033 15.0661C9.09033 12.1961 10.5478 10.7986 11.1353 10.1986C11.6178 9.70608 12.4153 9.48108 13.1803 9.48108C13.4278 9.48108 13.6503 9.49358 13.8503 9.50358C14.4378 9.52858 14.7328 9.56358 15.1203 10.4911C15.6028 11.6536 16.7778 14.5236 16.9178 14.8186C17.0603 15.1136 17.2028 15.5136 17.0028 15.9011C16.8153 16.3011 16.6503 16.4786 16.3553 16.8186C16.0603 17.1586 15.7803 17.4186 15.4853 17.7836C15.2153 18.1011 14.9103 18.4411 15.2503 19.0286C15.5903 19.6036 16.7653 21.5211 18.4953 23.0611C20.7278 25.0486 22.5378 25.6836 23.1853 25.9536C23.6678 26.1536 24.2428 26.1061 24.5953 25.7311C25.0428 25.2486 25.5953 24.4486 26.1578 23.6611C26.5578 23.0961 27.0628 23.0261 27.5928 23.2261C28.1328 23.4136 30.9903 24.8261 31.5778 25.1186C32.1653 25.4136 32.5528 25.5536 32.6953 25.8011C32.8353 26.0486 32.8353 27.2111 32.3528 28.5761Z" fill="#FAFAFC"/>
						</svg>
					</a>

					<a href="https://vk.com/rumgips" target="_blank" class="vk">
						<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.5 41C31.8218 41 41 31.8218 41 20.5C41 9.17816 31.8218 0 20.5 0C9.17816 0 0 9.17816 0 20.5C0 31.8218 9.17816 41 20.5 41Z" fill="#4D76A1"/>
              <path d="M20.4995 39.6333C31.0666 39.6333 39.6329 31.067 39.6329 20.5C39.6329 9.93295 31.0666 1.36666 20.4995 1.36666C9.9325 1.36666 1.36621 9.93295 1.36621 20.5C1.36621 31.067 9.9325 39.6333 20.4995 39.6333Z" fill="#4D76A1"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7256 29.491H21.3346C21.3346 29.491 21.8207 29.4377 22.0688 29.1702C22.2972 28.9246 22.2899 28.4634 22.2899 28.4634C22.2899 28.4634 22.2585 26.3045 23.2605 25.9865C24.2482 25.6734 25.5166 28.0732 26.8611 28.9959C27.8777 29.6942 28.6502 29.5411 28.6502 29.5411L32.245 29.491C32.245 29.491 34.1255 29.3752 33.2338 27.8966C33.1608 27.7757 32.7146 26.8029 30.5611 24.804C28.3071 22.7119 28.6089 23.0503 31.3241 19.4314C32.9777 17.2275 33.6387 15.882 33.4323 15.3057C33.2353 14.7568 32.0191 14.9019 32.0191 14.9019L27.9716 14.9271C27.9716 14.9271 27.6716 14.8862 27.449 15.0192C27.2316 15.1497 27.0917 15.4537 27.0917 15.4537C27.0917 15.4537 26.4511 17.1592 25.5967 18.6096C23.7944 21.6701 23.0737 21.8316 22.7792 21.6416C22.094 21.1987 22.265 19.8623 22.265 18.9129C22.265 15.947 22.7149 14.7104 21.3891 14.3903C20.9491 14.2839 20.6253 14.2138 19.5002 14.2025C18.056 14.1875 16.8336 14.2068 16.1415 14.546C15.681 14.7714 15.3258 15.2739 15.5422 15.3028C15.8097 15.3386 16.4156 15.4661 16.7368 15.9035C17.1515 16.4678 17.1369 17.7351 17.1369 17.7351C17.1369 17.7351 17.3752 21.2264 16.5804 21.6602C16.0348 21.9577 15.2864 21.3503 13.6796 18.5738C12.8562 17.1515 12.2346 15.5794 12.2346 15.5794C12.2346 15.5794 12.1148 15.2856 11.901 15.1285C11.6416 14.9381 11.279 14.8774 11.279 14.8774L7.43287 14.9026C7.43287 14.9026 6.85549 14.9187 6.64354 15.1698C6.45498 15.393 6.62856 15.8549 6.62856 15.8549C6.62856 15.8549 9.63972 22.8997 13.0492 26.4499C16.1755 29.7048 19.7256 29.491 19.7256 29.491Z" fill="#FAFAFC"/>
            </svg>
					</a>

          <a href="https://ok.ru/rum.gips" target="_blank" class="ok">
            <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.5191 16.9901C22.4766 16.983 24.0357 15.4105 24.0286 13.4488C24.0214 11.4863 22.459 9.92473 20.5007 9.92305C18.526 9.92095 16.9489 11.5115 16.964 13.4916C16.9787 15.4462 18.5553 16.9973 20.5191 16.9901Z" fill="#EE8208"/>
              <path d="M20.5 0C9.17813 0 0 9.17855 0 20.5C0 31.8215 9.17813 41 20.5 41C31.8219 41 41 31.8215 41 20.5C41 9.17855 31.8219 0 20.5 0ZM20.5294 6.2341C24.5224 6.245 27.7273 9.51116 27.7068 13.5482C27.6866 17.4922 24.4293 20.6887 20.443 20.6753C16.4973 20.6619 13.2614 17.3907 13.2848 13.4388C13.3071 9.44363 16.5447 6.22319 20.5294 6.2341ZM28.617 23.5124C27.734 24.4188 26.6712 25.0748 25.4909 25.5324C24.3752 25.9649 23.1525 26.1825 21.942 26.3277C22.1253 26.5265 22.2113 26.6242 22.3254 26.7383C23.9679 28.3896 25.6184 30.0326 27.2555 31.6885C27.8133 32.2531 27.9295 32.9527 27.6225 33.6083C27.2873 34.3255 26.5353 34.7969 25.7975 34.7462C25.3302 34.7139 24.9657 34.4819 24.6424 34.156C23.4025 32.9086 22.1392 31.6835 20.9253 30.4126C20.5709 30.0426 20.4014 30.1131 20.089 30.4344C18.842 31.7187 17.5744 32.9825 16.2998 34.2395C15.7272 34.8041 15.0461 34.9064 14.3817 34.5834C13.6758 34.242 13.227 33.521 13.2614 32.7958C13.2857 32.3067 13.5264 31.9318 13.8628 31.5971C15.489 29.9743 17.1101 28.3464 18.7317 26.7198C18.8394 26.612 18.9393 26.4975 19.0957 26.3298C16.884 26.0986 14.8896 25.5542 13.1821 24.2192C12.9698 24.0531 12.7513 23.8928 12.5584 23.7066C11.8105 22.9889 11.7354 22.1664 12.3264 21.32C12.8327 20.5952 13.6816 20.4014 14.5645 20.8179C14.7357 20.898 14.8984 20.9995 15.0544 21.1069C18.2363 23.2935 22.6077 23.3534 25.8021 21.2047C26.1184 20.9631 26.4569 20.7642 26.849 20.664C27.6107 20.4677 28.3221 20.7483 28.7306 21.4152C29.1983 22.1773 29.1928 22.9206 28.617 23.5124Z" fill="#EE8208"/>
              </svg>

					</a>

				</div>
			</div>
			<div class="item catalog_and_price">
				<a href="https://rumgips.ru/catalog_rumgips.pdf" target="_blank" class="online_catalog">
					<picture>
						<svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_502_28367)">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M0.332036 3.5425C0.271918 3.11731 0.303779 2.68417 0.425466 2.27236C0.547153 1.86055 0.755829 1.47966 1.03739 1.15544C1.31895 0.831215 1.66684 0.571216 2.05753 0.393015C2.44822 0.214814 2.87262 0.122563 3.30204 0.122498L15.693 0.122498C16.1228 0.122481 16.5476 0.214819 16.9386 0.393257C17.3297 0.571696 17.6778 0.83207 17.9594 1.15675C18.241 1.48143 18.4496 1.86283 18.571 2.27513C18.6924 2.68743 18.7238 3.12101 18.663 3.5465L18.489 4.7635L16.509 4.4815L16.683 3.2635C16.7032 3.12169 16.6927 2.9772 16.6522 2.83981C16.6117 2.70242 16.5422 2.57533 16.4483 2.46714C16.3545 2.35895 16.2385 2.27219 16.1081 2.21273C15.9778 2.15327 15.8363 2.1225 15.693 2.1225H3.30304C3.1599 2.12252 3.01843 2.15327 2.8882 2.21267C2.75797 2.27207 2.64201 2.35874 2.54815 2.46681C2.4543 2.57489 2.38474 2.70185 2.34418 2.83912C2.30362 2.97639 2.293 3.12077 2.31304 3.2625L4.29604 17.2625C4.32977 17.5011 4.4485 17.7194 4.63039 17.8774C4.81228 18.0354 5.0451 18.1225 5.28604 18.1225H13.782C14.0161 18.1226 14.2428 18.0406 14.4226 17.8907C14.6024 17.7409 14.7239 17.5327 14.766 17.3025L15.016 15.9425L16.983 16.3025L16.733 17.6635C16.6065 18.3537 16.2421 18.9776 15.7031 19.4269C15.1641 19.8762 14.4847 20.1223 13.783 20.1225H5.28504C4.56223 20.1224 3.86376 19.8613 3.31809 19.3873C2.77241 18.9133 2.41623 18.2582 2.31504 17.5425L0.331036 3.5425H0.332036Z" fill="#0F111D"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M14.9993 13.1225V7.1225H16.9993V13.1225H14.9993Z" fill="#0F111D"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M12.9993 9.1225H18.9993V11.1225H12.9993V9.1225Z" fill="#0F111D"/>
							</g>
							<defs>
							<clipPath id="clip0_502_28367">
							<rect width="19" height="20" fill="white" transform="translate(-0.000732422 0.122498)"/>
							</clipPath>
							</defs>
						</svg>
					</picture>
					<p>Онлайн-<br>
						каталог</p>
				</a>

				<a href="https://rumgips.ru/rumgips_price.pdf" target="_blank" class="price_list">
					<picture>
						<svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_502_28361)">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M2.49976 6.92249V10.9225C2.49976 11.1877 2.60511 11.4421 2.79265 11.6296C2.98019 11.8171 3.23454 11.9225 3.49976 11.9225H17.4998C17.765 11.9225 18.0193 11.8171 18.2069 11.6296C18.3944 11.4421 18.4998 11.1877 18.4998 10.9225V6.92249H20.4998V10.9225C20.4998 11.7181 20.1837 12.4812 19.6211 13.0438C19.0585 13.6064 18.2954 13.9225 17.4998 13.9225H3.49976C2.70411 13.9225 1.94104 13.6064 1.37844 13.0438C0.815826 12.4812 0.499756 11.7181 0.499756 10.9225L0.499756 6.92249H2.49976V6.92249Z" fill="#0F111D"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M4.80688 1.84349L6.19288 0.402489L10.4999 4.53649L14.8069 0.401489L16.1929 1.84349L10.4999 7.30849L4.80688 1.84349Z" fill="#0F111D"/>
							</g>
							<defs>
							<clipPath id="clip0_502_28361">
							<rect width="20" height="14" fill="white" transform="translate(0.499756 0.122498)"/>
							</clipPath>
							</defs>
						</svg>
					</picture>
					<p>Получить<br>
						прайс-лист</p>
				</a>
			</div>
		</div>
		<div class="additional">
			<a href="/" class="logo">
				<img src="/catalog/view/theme/rumgips/image/rumgips_logo_new.svg" alt="Румгипс логотип.">
			</a>
			<p class="copyright">© 2017-2022 “RUMGIPS” - профили и комплектующие для гипсокартона</p>
			<p class="organization">
				{# <span>ИП МАРКИЯНОВИЧ А.В.</span> #}
				ИНН: 775145142989
				<br>
				ОГРН: 322508100342710
			</p>
			<a href="https://decide-group.ru" class="site_development">
				<span>Разработка сайта - </span>
				<img src="/catalog/view/theme/rumgips/image/decide_group.svg" alt="decide-group">
			</a>
		</div>
	</div>

  <button class="scroll-up">
    <span class="page__hidden">Вернуться в начало</span>
  </button>
</footer>

<div class="blackout"></div>

<div class="modal">
	<form class="body" action="./form_callback.php" method="POST">
		<div class="cross" onclick="closeModal()"></div>
		<p class="title">Заказать звонок</p>
		<p class="info">Вы можете задать вопрос или получить консультацию, для этого закажите обратный звонок.</p>
		<label>
			<p>Ваше ФИО<span> *</span></p>
			<input type="text" name="name" placeholder="Иванов Иван"  required>
		</label>
		<label>
			<p>Ваш Телефон<span> *</span></p>
			<input class="tel-mask" type="tel" name="phone" pattern="[0-9 ()+-]{10,21}" placeholder="+7 (_ _ _) _ _ _  _ _  _ _" required>
		</label>
    <label>
			<input value="{{ antispam }}" type="hidden" name="antispam">
		</label>
		<label>
			<p>Комментарий</p>
			<textarea name="comment" resize="none"></textarea>
		</label>
		<label>
			<input type="checkbox" name="policy" value="confirm" required>
			<p>Настоящим подтверждаю, что я ознакомлен и согласен с условиями политики
				конфиденциальности и даю согласие на обработку персональных данных</p>
		</label>
		<input type="submit" name="submit" value="Отправить" disabled>
	</form>
</div>

<div class="product-added">
    <p class="product-added__text product-added__text--img">Товар добавлен в корзину</p>
</div>

<script src="/catalog/view/javascript/jquery/swiper/js/swiper.min.js"></script>
{# <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script> #}
<script src="/catalog/view/theme/rumgips/js/custom.js"></script>
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>

{% for style in styles %}
	<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="lazy" onload="this.media = '{{ style.media }}'" />
{% endfor %}

{% for script in scripts %}
	<script src="{{ script }}" type="text/javascript" defer></script>
{% endfor %}

{# маска для номера телефона #}

{# <script>
  document.querySelector('.tel-mask').addEventListener('input', function (e) {
    var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
    e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
  });
</script> #}

</body>
</html>
