<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ title }}</title>

	{% if robots %}
		<meta name="robots" content="{{ robots }}" />
	{% endif %}

	<base href="{{ base }}" />

	{% if description %}
		<meta name="description" content="{{ description }}" />
	{% endif %}

  {% if noindex %}
    <meta name="robots" content="noindex, nofollow" />
  {% endif %}

	<meta property="og:title" content="{{ title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ og_url }}" />

	{% if og_image %}
		<meta property="og:image" content="{{ og_image }}" />
	{% else %}
		<meta property="og:image" content="{{ logo }}" />
	{% endif %}

	<meta property="og:site_name" content="{{ name }}" />

	<link href="/favicon.svg" rel="icon">

	<link href="catalog/view/theme/rumgips/stylesheet/stylesheet.css?{{ random() }}" rel="stylesheet">

	{% for style in styles %}
		{# <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="lazy" onload="this.media = '{{ style.media }}'" /> #}
		<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" onload="this.media = '{{ style.media }}'" />

	{% endfor %}

	<link rel="stylesheet" href="/catalog/view/javascript/jquery/swiper/css/swiper.min.css" media="lazy" onload="this.media = '{{ style.media }}'">

	<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>

	{% for script in scripts %}
		<script src="{{ script }}" type="text/javascript" defer></script>
	{% endfor %}

	{% for link in links %}
		<link href="{{ link.href }}" rel="{{ link.rel }}" />
	{% endfor %}


  {% if not noindex %}
      <script type="text/javascript">
        var __cs = __cs || [];
        __cs.push(["setCsAccount", "vkFBMGgoaY72XZV3GSCf6RbqzWfyWlGb"]);
      </script>
      <script type="text/javascript" async src="https://app.comagic.ru/static/cs.min.js">
      </script>
	{% endif %}


  {% if not noindex %}
        <!-- Yandex.Metrika counter -->
      <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(89709163, "init", {
              clickmap:true,
              trackLinks:true,
              accurateTrackBounce:true,
              webvisor:true
        });
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/89709163" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->
  {% endif %}

	{% if refresh %}
		<script>
			document.addEventListener('keydown', function(event) {
				if (event.code == 'F5' && (event.ctrlKey || event.metaKey)) {
					event.preventDefault();
					let refresh_url = "{{ refresh }}".replace("amp;", "");
					$.ajax({
						method: "GET",
						url: refresh_url,
						success: function(){
							location.reload(true);
						},
					});
				}
			});
		</script>
	{% endif %}
</head>

<body>

<div class="new_gips">
	<div class="wrapper body">
		<p>Доставка по РФ и СНГ <span>В КРАТЧАЙШИЕ СРОКИ!</span></p>
		<img src="/catalog/view/theme/rumgips/image/new_kraab-min.webp" alt="новая линейка профилей краб гипс">
		<a href="/delivery">Подробнее</a>
		<div class="cross"></div>
	</div>
</div>
<script>
	if (sessionStorage.getItem("gips_banner") == false) document.querySelector(".new_gips").remove();
	if (document.querySelector(".new_gips .cross")) {
		document.querySelector(".new_gips .cross").onclick = function(){
			document.querySelector(".new_gips").remove();
			sessionStorage.setItem("gips_banner", 0);
			resizeMobileCatalog();
		};
	}
</script>

<header>
	<div class="wrapper body">

		<a href="/" class="logo">
			<img src="/catalog/view/theme/rumgips/image/rumgips_logo_new.svg" alt="Румгипс логотип." >
		</a>

		<div class="contact_icons">
			<a href="https://t.me/RumGips" class="telegram" target="_blank">
				<picture>
					<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M20.7119 40.3796C31.7576 40.3796 40.7119 31.4253 40.7119 20.3796C40.7119 9.33394 31.7576 0.379639 20.7119 0.379639C9.66622 0.379639 0.711914 9.33394 0.711914 20.3796C0.711914 31.4253 9.66622 40.3796 20.7119 40.3796Z" fill="#039BE5"/>
						<path d="M20.7121 39.0463C31.0214 39.0463 39.3787 30.689 39.3787 20.3797C39.3787 10.0704 31.0214 1.71301 20.7121 1.71301C10.4028 1.71301 2.04541 10.0704 2.04541 20.3797C2.04541 30.689 10.4028 39.0463 20.7121 39.0463Z" fill="#039BE5"/>
						<path d="M9.86158 19.9442L29.1449 12.5092C30.0399 12.1859 30.8216 12.7275 30.5316 14.0809L30.5332 14.0792L27.2499 29.5475C27.0066 30.6442 26.3549 30.9109 25.4432 30.3942L20.4432 26.7092L18.0316 29.0325C17.7649 29.2992 17.5399 29.5242 17.0232 29.5242L17.3782 24.4359L26.6449 16.0642C27.0482 15.7092 26.5549 15.5092 26.0232 15.8625L14.5716 23.0725L9.63491 21.5325C8.56324 21.1925 8.53991 20.4609 9.86158 19.9442V19.9442Z" fill="white"/>
					</svg>
				</picture>
			</a>
			{# <a href="api.whatsapp://send?phone={{ whatsapp }}" class="whatsapp"> #}
			<a href="https://wa.me/?phone=79151598877" class="whatsapp" target="_blank">
			{# <a href="https://api.whatsapp.com:/send?phone={{ whatsapp }}" class="whatsapp"> #}
				<picture>
					<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M20.7169 0.50647H20.7069C9.67941 0.50647 0.711914 9.47647 0.711914 20.5065C0.711914 24.8815 2.12191 28.9365 4.51941 32.229L2.02691 39.659L9.71441 37.2015C12.8769 39.2965 16.6494 40.5065 20.7169 40.5065C31.7444 40.5065 40.7119 31.534 40.7119 20.5065C40.7119 9.47897 31.7444 0.50647 20.7169 0.50647Z" fill="#75C067"/>
						<path d="M20.7167 1.83984H20.7074C10.4151 1.83984 2.04541 10.2118 2.04541 20.5065C2.04541 24.5898 3.36141 28.3745 5.59908 31.4475L3.27274 38.3822L10.4477 36.0885C13.3994 38.0438 16.9204 39.1732 20.7167 39.1732C31.0091 39.1732 39.3787 30.7988 39.3787 20.5065C39.3787 10.2142 31.0091 1.83984 20.7167 1.83984Z" fill="#75C067"/>
						<path d="M32.3528 28.5761C31.8703 29.9386 29.9553 31.0686 28.4278 31.3986C27.3828 31.6211 26.0178 31.7986 21.4228 29.8936C15.5453 27.4586 11.7603 21.4861 11.4653 21.0986C11.1828 20.7111 9.09033 17.9361 9.09033 15.0661C9.09033 12.1961 10.5478 10.7986 11.1353 10.1986C11.6178 9.70608 12.4153 9.48108 13.1803 9.48108C13.4278 9.48108 13.6503 9.49358 13.8503 9.50358C14.4378 9.52858 14.7328 9.56358 15.1203 10.4911C15.6028 11.6536 16.7778 14.5236 16.9178 14.8186C17.0603 15.1136 17.2028 15.5136 17.0028 15.9011C16.8153 16.3011 16.6503 16.4786 16.3553 16.8186C16.0603 17.1586 15.7803 17.4186 15.4853 17.7836C15.2153 18.1011 14.9103 18.4411 15.2503 19.0286C15.5903 19.6036 16.7653 21.5211 18.4953 23.0611C20.7278 25.0486 22.5378 25.6836 23.1853 25.9536C23.6678 26.1536 24.2428 26.1061 24.5953 25.7311C25.0428 25.2486 25.5953 24.4486 26.1578 23.6611C26.5578 23.0961 27.0628 23.0261 27.5928 23.2261C28.1328 23.4136 30.9903 24.8261 31.5778 25.1186C32.1653 25.4136 32.5528 25.5536 32.6953 25.8011C32.8353 26.0486 32.8353 27.2111 32.3528 28.5761Z" fill="#FAFAFC"/>
					</svg>
				</picture>
			</a>
			<a href="tel:{{ telephone }}" class="phone">
				<picture>
					{# <source media="(min-width: 375px)" srcset="/catalog/view/theme/rumgips/image/phone.svg"> #}
					{# <img src="" alt="rumgips phone"> #}
					<img src="/catalog/view/theme/rumgips/image/phone.svg" alt="rumgips phone">
				</picture>
			</a>
		</div>

		<div class="order_call">
			<button class="btn-transparent" onclick="showModal()">Заказать звонок</button>
			<div class="phone_numbers">
				<a href="tel:{{ telephone }}">{{ telephone }}</a>
				<a href="tel:+7 (495) 023-72-00">+7 (495) 023-72-00</a>
			</div>
			<button class="btn-text" onclick="showModal()">Обратный звонок</button>
		</div>

		<a href="catalogs"  class="all_catalogs" target="_blank">
			<picture>
				<svg width="51" height="50" viewBox="0 0 51 50" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="25.3181" cy="25" r="25" fill="#FAFAFC"/>
					<g clip-path="url(#clip0_2375_10635)">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M15.7181 25.16V29.96C15.7181 30.2783 15.8445 30.5835 16.0696 30.8085C16.2946 31.0336 16.5999 31.16 16.9181 31.16H33.7181C34.0364 31.16 34.3416 31.0336 34.5666 30.8085C34.7917 30.5835 34.9181 30.2783 34.9181 29.96V25.16H37.3181V29.96C37.3181 30.9148 36.9388 31.8305 36.2637 32.5056C35.5886 33.1807 34.6729 33.56 33.7181 33.56H16.9181C15.9633 33.56 15.0477 33.1807 14.3725 32.5056C13.6974 31.8305 13.3181 30.9148 13.3181 29.96V25.16H15.7181V25.16Z" fill="#0F111D"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M18.4861 19.0652L20.1493 17.336L25.3177 22.2968L30.4861 17.3348L32.1493 19.0652L25.3177 25.6232L18.4861 19.0652Z" fill="#0F111D"/>
					</g>
				</svg>
			</picture>
			<p>Каталоги<br>
				PDF</p>
		</a>

		<a href="catalog_rumgips.pdf"  class="online_catalog" target="_blank">
			<picture>
				<svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_502_28367)">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M0.332036 3.5425C0.271918 3.11731 0.303779 2.68417 0.425466 2.27236C0.547153 1.86055 0.755829 1.47966 1.03739 1.15544C1.31895 0.831215 1.66684 0.571216 2.05753 0.393015C2.44822 0.214814 2.87262 0.122563 3.30204 0.122498L15.693 0.122498C16.1228 0.122481 16.5476 0.214819 16.9386 0.393257C17.3297 0.571696 17.6778 0.83207 17.9594 1.15675C18.241 1.48143 18.4496 1.86283 18.571 2.27513C18.6924 2.68743 18.7238 3.12101 18.663 3.5465L18.489 4.7635L16.509 4.4815L16.683 3.2635C16.7032 3.12169 16.6927 2.9772 16.6522 2.83981C16.6117 2.70242 16.5422 2.57533 16.4483 2.46714C16.3545 2.35895 16.2385 2.27219 16.1081 2.21273C15.9778 2.15327 15.8363 2.1225 15.693 2.1225H3.30304C3.1599 2.12252 3.01843 2.15327 2.8882 2.21267C2.75797 2.27207 2.64201 2.35874 2.54815 2.46681C2.4543 2.57489 2.38474 2.70185 2.34418 2.83912C2.30362 2.97639 2.293 3.12077 2.31304 3.2625L4.29604 17.2625C4.32977 17.5011 4.4485 17.7194 4.63039 17.8774C4.81228 18.0354 5.0451 18.1225 5.28604 18.1225H13.782C14.0161 18.1226 14.2428 18.0406 14.4226 17.8907C14.6024 17.7409 14.7239 17.5327 14.766 17.3025L15.016 15.9425L16.983 16.3025L16.733 17.6635C16.6065 18.3537 16.2421 18.9776 15.7031 19.4269C15.1641 19.8762 14.4847 20.1223 13.783 20.1225H5.28504C4.56223 20.1224 3.86376 19.8613 3.31809 19.3873C2.77241 18.9133 2.41623 18.2582 2.31504 17.5425L0.331036 3.5425H0.332036Z" fill="#0F111D"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M14.9993 13.1225V7.1225H16.9993V13.1225H14.9993Z" fill="#0F111D"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.9993 9.1225H18.9993V11.1225H12.9993V9.1225Z" fill="#0F111D"/>
					</g>
				</svg>
			</picture>
			<p>Онлайн-<br>
				каталог</p>
		</a>

		<a href="/cart" class="main_cart">
			<picture>
        <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect x="1" y="6" width="20" height="16" rx="2" fill="transparent"/>
					<path d="M20.9899 5.99999H21.8899V5.09999H20.9899V5.99999ZM1 5.99999V5.09999H0.1V5.99999H1ZM6.89742 5.99999V4.44748H5.09742V5.99999H6.89742ZM6.89742 4.44748C6.89742 3.60696 7.20295 2.98838 7.64733 2.57506C8.10061 2.15346 8.74865 1.9 9.49561 1.9V0.1C8.34355 0.1 7.2425 0.493359 6.42143 1.25704C5.59147 2.029 5.09742 3.13416 5.09742 4.44748H6.89742ZM9.49561 1.9H12.4941V0.1H9.49561V1.9ZM12.4941 1.9C13.2997 1.9 13.9407 2.15851 14.3733 2.56897C14.7994 2.97321 15.0923 3.58931 15.0923 4.44748H16.8923C16.8923 3.1518 16.4355 2.04416 15.6122 1.26313C14.7955 0.488307 13.6874 0.1 12.4941 0.1V1.9ZM15.0923 4.44748V5.99999H16.8923V4.44748H15.0923ZM20.9899 5.09999H1V6.89999H20.9899V5.09999ZM0.1 5.99999V18.7001H1.9V5.99999H0.1ZM0.1 18.7001C0.1 21.0185 1.63216 23.3501 4.02876 23.3501V21.5501C2.99276 21.5501 1.9 20.4356 1.9 18.7001H0.1ZM4.02876 23.3501H17.9611V21.5501H4.02876V23.3501ZM17.9611 23.3501C20.3441 23.3501 21.8899 21.137 21.8899 18.7001H20.0899C20.0899 20.5199 19.0108 21.5501 17.9611 21.5501V23.3501ZM21.8899 18.7001V5.99999H20.0899V18.7001H21.8899Z" fill="#0F111D"/>
				</svg>
        <span>{{ products_in_cart }}</span>
			</picture>
			<p>Корзина</p>
		</a>

	</div>
</header>

<nav class="mobile_menu">
	<div class="navigation">
		<div class="wrap">
			<div class="item catalog_opener">
				<svg width="24" height="19" viewBox="0 0 24 19" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M22.7926 18.3397H7.01656C6.36635 18.3397 5.83936 17.8055 5.83936 17.1465C5.83936 16.4874 6.36635 15.9532 7.01656 15.9532H22.7923C23.4425 15.9532 23.9695 16.4874 23.9695 17.1465C23.9695 17.8055 23.4429 18.3397 22.7926 18.3397Z" fill="#A7AABB"/>
					<path d="M22.7926 10.8499H7.01656C6.36635 10.8499 5.83936 10.3158 5.83936 9.65672C5.83936 8.99766 6.36635 8.4635 7.01656 8.4635H22.7923C23.4425 8.4635 23.9695 8.99766 23.9695 9.65672C23.9699 10.3158 23.4429 10.8499 22.7926 10.8499Z" fill="#A7AABB"/>
					<path d="M22.777 3.76594H7.00093C6.35072 3.76594 5.82373 3.23178 5.82373 2.57273C5.82373 1.91368 6.35072 1.37952 7.00093 1.37952H22.7766C23.4268 1.37952 23.9538 1.91368 23.9538 2.57273C23.9538 3.23178 23.4272 3.76594 22.777 3.76594Z" fill="#A7AABB"/>
					<path d="M1.9594 3.86158C2.83255 3.86158 3.54038 3.14413 3.54038 2.2591C3.54038 1.37407 2.83255 0.656616 1.9594 0.656616C1.08625 0.656616 0.378418 1.37407 0.378418 2.2591C0.378418 3.14413 1.08625 3.86158 1.9594 3.86158Z" fill="#A7AABB"/>
					<path d="M1.9594 11.2588C2.83255 11.2588 3.54038 10.5413 3.54038 9.65631C3.54038 8.77129 2.83255 8.05383 1.9594 8.05383C1.08625 8.05383 0.378418 8.77129 0.378418 9.65631C0.378418 10.5413 1.08625 11.2588 1.9594 11.2588Z" fill="#A7AABB"/>
					<path d="M1.9594 18.6568C2.83255 18.6568 3.54038 17.9393 3.54038 17.0543C3.54038 16.1692 2.83255 15.4518 1.9594 15.4518C1.08625 15.4518 0.378418 16.1692 0.378418 17.0543C0.378418 17.9393 1.08625 18.6568 1.9594 18.6568Z" fill="#A7AABB"/>
				</svg>
				<span>Каталог</span>
			</div>
			<a class="item" href="whatsapp://send?phone={{ whatsapp }}">
				<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M3.35564 15.3772L3.48062 15.0076L3.24976 14.6931C2.25341 13.3358 1.66797 11.6655 1.66797 9.86182C1.66797 5.31802 5.3946 1.61182 9.98831 1.61182H9.99284C14.5865 1.61182 18.3132 5.31908 18.3132 9.86182C18.3132 14.4046 14.5865 18.1118 9.99284 18.1118C8.29786 18.1118 6.72913 17.6123 5.41366 16.7478L5.11534 16.5517L4.77506 16.6597L2.69936 17.3179L3.35564 15.3772Z" stroke="#A7AABB" stroke-width="1.5"/>
					<path d="M14.164 12.7892C13.9875 13.2835 13.2871 13.6935 12.7285 13.8132C12.3463 13.894 11.8471 13.9583 10.1666 13.2672C8.01701 12.3838 6.63274 10.217 6.52485 10.0764C6.42153 9.93581 5.65625 8.92904 5.65625 7.88781C5.65625 6.84657 6.1893 6.33956 6.40416 6.12188C6.58062 5.9432 6.87229 5.86157 7.15207 5.86157C7.24259 5.86157 7.32396 5.86611 7.39711 5.86974C7.61197 5.87881 7.71986 5.8915 7.86158 6.228C8.03804 6.64975 8.46777 7.69099 8.51897 7.79801C8.57109 7.90504 8.6232 8.05016 8.55006 8.19074C8.48148 8.33586 8.42114 8.40026 8.31325 8.52361C8.20536 8.64696 8.10296 8.74129 7.99507 8.87371C7.89632 8.9889 7.78478 9.11226 7.90912 9.3254C8.03347 9.53401 8.4632 10.2297 9.0959 10.7884C9.91239 11.5095 10.5744 11.7398 10.8112 11.8378C10.9876 11.9103 11.1979 11.8931 11.3268 11.7571C11.4905 11.582 11.6926 11.2918 11.8983 11.0061C12.0446 10.8011 12.2293 10.7757 12.4231 10.8482C12.6206 10.9163 13.6657 11.4287 13.8805 11.5348C14.0954 11.6419 14.2371 11.6927 14.2892 11.7825C14.3404 11.8723 14.3404 12.294 14.164 12.7892Z" fill="#A7AABB"/>
				</svg>
				<span>Написать</span>
			</a>
			<div class="item search">
				<svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M17.7263 17.2575L13.289 12.8018C14.4299 11.4924 15.055 9.84493 15.055 8.1298C15.055 4.12257 11.6781 0.862305 7.52752 0.862305C3.37691 0.862305 0 4.12257 0 8.1298C0 12.137 3.37691 15.3973 7.52752 15.3973C9.08571 15.3973 10.5706 14.9435 11.8401 14.0822L16.3111 18.5716C16.498 18.759 16.7494 18.8623 17.0187 18.8623C17.2737 18.8623 17.5156 18.7685 17.6992 18.5978C18.0893 18.2354 18.1017 17.6344 17.7263 17.2575ZM7.52752 2.75817C10.5955 2.75817 13.0913 5.16782 13.0913 8.1298C13.0913 11.0918 10.5955 13.5014 7.52752 13.5014C4.45956 13.5014 1.9637 11.0918 1.9637 8.1298C1.9637 5.16782 4.45956 2.75817 7.52752 2.75817Z" fill="#A7AABB"/>
				</svg>
				<span>Поиск</span>
			</div>
			<a href="/cart" class="item cart">
				<svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_547_11958)">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.32539 5.37748L11.896 4.22704C11.9845 4.20877 12.0767 4.22624 12.1524 4.27563C12.228 4.32501 12.2811 4.40232 12.3001 4.49069L13.4539 10.0613C13.4629 10.1054 13.4631 10.1508 13.4546 10.195C13.446 10.2391 13.4289 10.2812 13.4041 10.3187C13.3793 10.3562 13.3473 10.3884 13.31 10.4136C13.2728 10.4388 13.2309 10.4564 13.1868 10.4654L7.61619 11.6192C7.57213 11.6282 7.52672 11.6284 7.48257 11.6199C7.43842 11.6113 7.39638 11.5942 7.35886 11.5694C7.32134 11.5446 7.28908 11.5126 7.26391 11.4753C7.23874 11.4381 7.22116 11.3962 7.21218 11.3521L6.06176 5.78149C6.04349 5.69299 6.06095 5.60085 6.11034 5.52516C6.15972 5.44948 6.23702 5.3964 6.32539 5.37748Z" fill="#A7AABB" stroke="#A7AABB" stroke-miterlimit="10"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M2.95434 1.44695C2.92909 1.32165 2.95456 1.19146 3.02516 1.08492C3.09576 0.978373 3.20574 0.904178 3.33097 0.878595C3.39325 0.865593 3.45749 0.865032 3.52 0.876944C3.5825 0.888857 3.64204 0.912995 3.69518 0.947996C3.74832 0.982998 3.79401 1.02816 3.82964 1.08088C3.86526 1.13361 3.89011 1.19285 3.90276 1.25521L6.45697 13.6154C6.48221 13.7407 6.45675 13.8709 6.38614 13.9774C6.31554 14.084 6.20557 14.1582 6.08034 14.1838C5.95504 14.209 5.82485 14.1836 5.71831 14.1129C5.61176 14.0423 5.53756 13.9324 5.51197 13.8072L2.95434 1.44695Z" fill="#A7AABB"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.08246 14.1837C5.95716 14.2089 5.82697 14.1835 5.72043 14.1129C5.61388 14.0423 5.53968 13.9323 5.51409 13.8071C5.50109 13.7448 5.50053 13.6805 5.51244 13.618C5.52435 13.5555 5.5485 13.496 5.5835 13.4429C5.61851 13.3897 5.66367 13.344 5.71639 13.3084C5.76912 13.2728 5.82836 13.2479 5.89072 13.2353L13.5979 11.6432C13.6599 11.6302 13.724 11.6297 13.7863 11.6416C13.8485 11.6536 13.9078 11.6778 13.9607 11.7128C14.0136 11.7479 14.0589 11.793 14.0942 11.8457C14.1295 11.8984 14.154 11.9576 14.1662 12.0198C14.1792 12.0819 14.1797 12.1459 14.1678 12.2082C14.1558 12.2705 14.1316 12.3298 14.0966 12.3826C14.0616 12.4355 14.0164 12.4809 13.9637 12.5162C13.911 12.5515 13.8518 12.5759 13.7896 12.5882L6.08246 14.1837Z" fill="#A7AABB"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M1.42056 2.26181C1.29436 2.28704 1.1633 2.2612 1.05611 2.18996C0.94893 2.11872 0.874365 2.00789 0.848766 1.88176C0.824447 1.75656 0.850296 1.62682 0.920748 1.5205C0.9912 1.41418 1.10061 1.33979 1.22539 1.31339L3.36189 0.871714C3.48709 0.847395 3.61684 0.873254 3.72316 0.943706C3.82948 1.01416 3.90385 1.12355 3.93025 1.24833C3.95557 1.37405 3.9302 1.50469 3.85966 1.61178C3.78912 1.71888 3.67912 1.79376 3.55363 1.82013L1.42056 2.26181Z" fill="#A7AABB"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M5.58637 11.6055C6.14483 11.4902 6.72623 11.6014 7.20266 11.9148C7.67909 12.2281 8.01155 12.7179 8.12689 13.2763C8.18449 13.5526 8.18704 13.8376 8.13438 14.1149C8.08173 14.3922 7.97491 14.6564 7.82003 14.8924C7.66515 15.1283 7.46527 15.3315 7.2318 15.4901C6.99834 15.6487 6.73589 15.7598 6.45947 15.8168C5.90101 15.9321 5.31961 15.8209 4.84318 15.5075C4.36674 15.1942 4.03429 14.7044 3.91894 14.146C3.8045 13.5881 3.91568 13.0076 4.22817 12.5315C4.54066 12.0554 5.02901 11.7224 5.58637 11.6055Z" fill="#A7AABB"/>
					</g>
					<defs>
					<clipPath id="clip0_547_11958">
					<rect width="13.3326" height="15" fill="white" transform="translate(0.84375 0.861572)"/>
					</clipPath>
					</defs>
				</svg>
				<p class="quantity">{{ products_in_cart }}</p>
				<span>Корзина</span>
			</a>
		</div>
	</div>
	<div class="catalog">
		<div class="body">
			{{ search }}
			<p class="headline">Каталог</p>
			<ul class="switcher">
				<li class="active">Категории</li>
				<li>Бренды</li>
				<li>Покупателям</li>
			</ul>

			<div class="switchable_blocks">
				<div class="categories active">
					{% for category in categories %}
						<a href="{{ category.href }}" class="item">
							<div class="info">
								<p class="name">{{ category.name }}</p>
								{# <span class="total">{{ category.total }}</span> #}
							</div>
							<img src="{{ category.image }}" alt="{{ category.name }}">
						</a>
					{% endfor %}
				</div>

				<div class="brands">
					{% for manufacturer in manufacturers %}
						<a href="{{ manufacturer.href }}">
							<img src="{{ manufacturer.image }}" alt="{{ manufacturer.name }}">
						</a>
					{% endfor %}
				</div>

				<div class="to_customers">
					<a href="/specials"><span>Акции</span></a>
					{# <a href="#">Оплата</a> #}
          <a href="/delivery">Доставка</a>
          {# <a href="/warranty">Гарантия</a> #}
          <a href="/exchange">Обмен и возврат</a>
          <a href="/about_us">О компании</a>
          <a href="/contacts">Контакты</a>

				</div>
			</div>

		</div>
	</div>
</nav>

<div class="desktop_menu">
	<div class="wrapper">
		<div class="catalog">
			<p class="opener">Каталог</p>
			<div class="content">
				<div class="body">

          <div class="item">
						<a href="profil-dlya-gipsokartona">Профиль</a>
						<a href="profil-dlya-gipsokartona/tenevoj/plintus">Теневой плинтус</a>
						<a href="profil-dlya-gipsokartona/tenevoj">Теневой профиль</a>
						<a href="profil-dlya-gipsokartona/paryaschij">Парящий профиль</a>
						<a href="profil-dlya-gipsokartona/svetovye-linii">Световые линии</a>
						<a href="profil-dlya-gipsokartona/skrytyj-karniz-dlya-shtor">Скрытый карниз для штор</a>
						<a href="profil-dlya-gipsokartona/svetovye-i-trekovye-nishi">Световые и трековые ниши</a>
						<a href="profil-dlya-gipsokartona/profil-standartnyj">Стандартный профиль</a>
					</div>

          <div class="item">
						<a href="dekorativnye-rejki-paneli">Декоративные рейки,<br>панели</a>
						<a href="dekorativnye-rejki-paneli/linerio-l-line">LINERIO L-LINE</a>
						<a href="dekorativnye-rejki-paneli/linerio-m-line">LINERIO M-LINE</a>
						<a href="dekorativnye-rejki-paneli/linerio-s-line">LINERIO S-LINE</a>
						<a href="dekorativnye-rejki-paneli/trims">TRIMS</a>
						<a href="dekorativnye-rejki-paneli/universal-trims-u">UNIVERSAL TRIMS U</a>
					</div>

          <div class="item">
						<a href="dekorativnye-peregorodki">Декоративные<br>перегородки</a>
						<a href="dekorativnye-peregorodki/peregorodki-po-1m">1 метр</a>
						<a href="dekorativnye-peregorodki/peregorodki-komplekt-na-1-5-metra">1.5 метра</a>
						<a href="dekorativnye-peregorodki/peregorodki-komplekt-na-2-metra">2 метра</a>
						<a href="dekorativnye-peregorodki/peregorodki-komplekt-na-2-5-metra">2.5 метра</a>
					</div>

          <div class="item">
						<a href="komplektuyuschie-i-komponenty/komponenty-dlya-profiley">Компоненты</a>
						<a href="komplektuyuschie-i-komponenty/komponenty-dlya-profiley/zaglushki">Заглушки</a>
						<a href="komplektuyuschie-i-komponenty/komponenty-dlya-profiley/rasseivateli">Рассеиватели</a>
						<a href="komplektuyuschie-i-komponenty/komponenty-dlya-profiley/soediniteli">Соединители</a>
						<a href="komplektuyuschie-i-komponenty/komponenty-dlya-profiley/soputstvuyuschie-komponenty">Сопутствующие компоненты</a>
					</div>

					<div class="item">
						<a href="osveschenie">Освещение</a>
						<a href="osveschenie/svetilniki/vstraivaemye">Встраиваемые светильник</a>
						<a href="osveschenie/svetilniki/nakladnye">Накладные светильники</a>
						<a href="osveschenie/trekovoe/220v">Трековое освещение 220V</a>
						<a href="osveschenie/trekovoe/48v">Трековое освещение 48V</a>
						<a href="osveschenie/lenta-i-upravlenie">Лента светодиодная</a>
					</div>

          <div class="item">
						<a href="gipsokarton">Гипсокартон</a>
						<a href="gipsokarton/standartnyj">Стандартный</a>
						<a href="gipsokarton/vlagostojkij">Влагостойкий</a>
						{# <a href="gipsokarton/ognestojkij">Огнестойкий</a> #}
					</div>

				</div>
			</div>
		</div>
		<div class="menu">
			<a href="/specials">Акции</a>
			{# <a href="#">Оплата</a> #}
			<a href="/delivery">Доставка</a>
			{# <a href="/warranty">Гарантия</a> #}
			<a href="/exchange">Обмен и возврат</a>
      <a href="/about_us">О компании</a>
			<a href="/contacts">Контакты</a>

		</div>
		<div class="search_and_cart">
			{{search}}
			{# <a href="/cart" class="cart">
				<svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect x="1" y="6" width="20" height="16" rx="2" fill="transparent"/>
					<path d="M20.9899 5.99999H21.8899V5.09999H20.9899V5.99999ZM1 5.99999V5.09999H0.1V5.99999H1ZM6.89742 5.99999V4.44748H5.09742V5.99999H6.89742ZM6.89742 4.44748C6.89742 3.60696 7.20295 2.98838 7.64733 2.57506C8.10061 2.15346 8.74865 1.9 9.49561 1.9V0.1C8.34355 0.1 7.2425 0.493359 6.42143 1.25704C5.59147 2.029 5.09742 3.13416 5.09742 4.44748H6.89742ZM9.49561 1.9H12.4941V0.1H9.49561V1.9ZM12.4941 1.9C13.2997 1.9 13.9407 2.15851 14.3733 2.56897C14.7994 2.97321 15.0923 3.58931 15.0923 4.44748H16.8923C16.8923 3.1518 16.4355 2.04416 15.6122 1.26313C14.7955 0.488307 13.6874 0.1 12.4941 0.1V1.9ZM15.0923 4.44748V5.99999H16.8923V4.44748H15.0923ZM20.9899 5.09999H1V6.89999H20.9899V5.09999ZM0.1 5.99999V18.7001H1.9V5.99999H0.1ZM0.1 18.7001C0.1 21.0185 1.63216 23.3501 4.02876 23.3501V21.5501C2.99276 21.5501 1.9 20.4356 1.9 18.7001H0.1ZM4.02876 23.3501H17.9611V21.5501H4.02876V23.3501ZM17.9611 23.3501C20.3441 23.3501 21.8899 21.137 21.8899 18.7001H20.0899C20.0899 20.5199 19.0108 21.5501 17.9611 21.5501V23.3501ZM21.8899 18.7001V5.99999H20.0899V18.7001H21.8899Z" fill="#0F111D"/>
				</svg>
				<span>{{ products_in_cart }}</span>
			</a> #}
		</div>
	</div>
</div>
