{{ header }}
<div id="catalogs">
	<div class="wrapper">
		<ul class="breadcrumb">
			{% for breadcrumb in breadcrumbs %}
				{% if loop.index > 1 %}
					<span> \ </span>
					<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% else %}
					<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
		<div class="manufacturers_catalogs mb_adapt">
			{{ column_left }}
			{{ content_top }}

			<h1>{{ heading_title }}</h1>

			<div class="body">
				<div class="item">
					<a href="catalog_rumgips.pdf" target="_blank"><img src="image/manufacturers_catalogs/rumgips-catalog.jpg" alt="Каталог RUMGIPS"></a>
					<p>Каталог RUMGIPS</p>
					<a href="catalog_rumgips.pdf" download="catalog-rumgips">Скачать каталог</a>
				</div>
				{% for manufacturer in manufacturers %}
					<div class="item">
						<a href="{{ manufacturer.catalog_file }}" target="_blank"><img src="{{ manufacturer.catalog_image }}" alt="Каталог {{ manufacturer.name }}"></a>
						<p>Каталог {{ manufacturer.name }}</p>
						<a href="{{ manufacturer.catalog_file }}" download="catalog-{{ manufacturer.name }}">Скачать каталог</a>
					</div>
				{% endfor %}
			</div>

			{{ content_bottom }}
			{{ column_right }}
		</div>
	</div>
</div>
{{ footer }}