{{ header }}
<div class="product_card mb_adapt">
	<div class="wrapper">
		<ul class="breadcrumb">
			{% for breadcrumb in breadcrumbs %}
				{% if loop.index > 1 %}
					<span> \ </span>
					<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% else %}
					<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>

		{{ content_top }}

		<div class="product_card_container">
			<div class="header">

			<div class="product_card_discount">
				{% if special and (hit == false) %}
					<span>Скидка</span>
				{% endif %}

				{% if (special == false) and hit %}
					<span class="hit">Хит</span>
				{% endif %}

				{% if special and hit %}
					<span class="hit">Хит</span>
				{% endif %}
			</div>

				<div class="product_images_slider swiper">
					<div class="swiper-wrapper thumbnails">

            <div class="thumbnail swiper-slide">
              <img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
            </div>

            {% if images %}
              {% for image in images %}
              <div class="thumbnail swiper-slide">
                <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
              </div>
              {% endfor %}
            {% endif %}

            {# {% if url_video %}
              <iframe class="thumbnail swiper-slide" src="{{ url_video }}" width="100%" height="45%" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" >
              </iframe>
            {% endif %} #}
					</div>

					{% if images or url_video  %}
						<div class="prev"></div>
						<div class="next"></div>
					{% endif %}
				</div>

        {% if images or url_video %}
				<div class="product_images_slider_thumbs swiper product_images_slider_thumbs--active">
					<div class="swiper-wrapper thumbnails">
						<img class="swiper-slide" src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
						{% if images %}
							{% for image in images %}
								<img class="swiper-slide" src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
							{% endfor %}
						{% endif %}
            {# {% if url_video %}
            <div class="swiper-slide swiper-slide-video">
              <img class="" width="100%" src="{{ url_video_preview }}" title="Превью видео ролика" alt="Превью видео ролика" />
            </div>
						{% endif %} #}
					</div>
					<div class="prev"></div>
					<div class="next"></div>
				</div>
        {% endif %}


			</div>
			<div class="product_card_main_info">
				<div>
					<h1>{{ heading_title }}</h1>
					{% if manufacturer %}
						<a href="{{ manufacturers }}" class="manufacturer">{{ manufacturer }}</a>
					{% endif %}
				</div>

				<div class="info">
					<div class="attributes">
          {# Наличие: #}
						<div class="attribute">
							<p class="name">{{ text_stock }}</p>
							<p class="value">{{ stock }}</p>
						</div>
            {# Код товара: #}
						{#<div class="attribute">
							<p class="name">{{ text_model }}</p>
							<p class="value">{{ model }}</p>
						</div> #}
						{% if attribute_groups %}
							{% for attribute_group in attribute_groups %}
								{% for attribute in attribute_group.attribute %}
									<div class="attribute">
										<p class="name">{{ attribute.name }}</p>
										<p class="value">{{ attribute.text }}</p>
									</div>
								{% endfor %}
							{% endfor %}
						{% endif %}
            {% if length %}
              <div class="attribute">
                <p class="name">Длина</p>
                <p class="value">{{ length }}</p>
              </div>
						{% endif %}
            {% if width %}
              <div class="attribute">
                <p class="name">Ширина</p>
                <p class="value">{{ width }}</p>
              </div>
						{% endif %}
            {% if height %}
              <div class="attribute">
                <p class="name">Высота</p>
                <p class="value">{{ height }}</p>
              </div>
						{% endif %}
					</div>

					<div class="options">
						{% if options %}
							<h3>{{ text_option }}</h3>
							{% for option in options %}
								{% if option.type == 'select' %}
									{% if option.has_image %}
										<div class="option_images">
											{% for option_value in option.product_option_value %}
												{% if option_value.option_value_image %}
													<label for="input-option{{ option.product_option_id }}-{{ loop.index }}" {% if loop.index < 2 %}class="active"{% endif %}>
														<input type="radio" name="option[{{ option.product_option_id }}]" data-price="{{ option_value.price }}" data-special="{{ option_value.special }}" id="input-option{{ option.product_option_id }}-{{ loop.index }}" value="{{ option_value.product_option_value_id }}" {% if loop.index < 2 %}checked{% endif %}>
														<img src="{{ option_value.option_value_image }}" alt="{{ option_value.name }}" title="{{ option_value.name }}" data-full-size="{{ option_value.full_size_image }}">
														<p>{{ option_value.name }}</p>
													</label>
												{% endif %}
											{% endfor %}
										</div>
									{% else %}
										<div class="form-group{% if option.required %} required {% endif %}">
											<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
											<select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control" required>
												<option value="">{{ text_select }}</option>
												{% for option_value in option.product_option_value %}
												<option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
												{% if option_value.price %}
												({{ option_value.price }})
												{% endif %} </option>
												{% endfor %}
											</select>
										</div>
									{% endif %}
								{% endif %}
								{% if option.type == 'radio' %}
								<div class="form-group{% if option.required %} required {% endif %}">
									<label class="control-label">{{ option.name }}</label>
									<div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
										<div class="radio">
											<label>
												<input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
												{% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
												{{ option_value.name }}
												{% if option_value.price %}
												({{ option_value.price_prefix }}{{ option_value.price }})
												{% endif %} </label>
										</div>
										{% endfor %} </div>
								</div>
								{% endif %}
								{% if option.type == 'checkbox' %}
								<div class="form-group{% if option.required %} required {% endif %}">
									<label class="control-label">{{ option.name }}</label>
									<div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
										<div class="checkbox">
											<label>
												<input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
												{% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
												{{ option_value.name }}
												{% if option_value.price %}
												({{ option_value.price_prefix }}{{ option_value.price }})
												{% endif %} </label>
										</div>
										{% endfor %} </div>
								</div>
								{% endif %}
								{% if option.type == 'text' %}
								<div class="form-group{% if option.required %} required {% endif %}">
									<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
									<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
								</div>
								{% endif %}
								{% if option.type == 'textarea' %}
								<div class="form-group{% if option.required %} required {% endif %}">
									<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
									<textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
								</div>
								{% endif %}
								{% if option.type == 'file' %}
								<div class="form-group{% if option.required %} required {% endif %}">
									<label class="control-label">{{ option.name }}</label>
									<button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
									<input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
								</div>
								{% endif %}
								{% if option.type == 'date' %}
								<div class="form-group{% if option.required %} required {% endif %}">
									<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
									<div class="input-group date">
										<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
										<span class="input-group-btn">
										<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
										</span></div>
								</div>
								{% endif %}
								{% if option.type == 'datetime' %}
								<div class="form-group{% if option.required %} required {% endif %}">
									<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
									<div class="input-group datetime">
										<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
										<span class="input-group-btn">
										<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
										</span></div>
								</div>
								{% endif %}
								{% if option.type == 'time' %}
								<div class="form-group{% if option.required %} required {% endif %}">
									<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
									<div class="input-group time">
										<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
										<span class="input-group-btn">
										<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
										</span></div>
								</div>
								{% endif %}
							{% endfor %}
            {% endif %}
					</div>

					<div class="price_and_controls">
						{% if price %}
							<div class="price">
								{% if not special %}
									<p>{{ price }}{% if measure %}/{{ measure }}{% endif %}</p>
								{% else %}
									<span>{{ price }}{% if measure %}/{{ measure }}{% endif %}</span>
									<p>{{ special }}{% if measure %}/{{ measure }}{% endif %}</p>
								{% endif %}
							</div>
						{% endif %}

						<div class="quantity_block">
							<button class="minus">-</button>
							<input type="text" name="quantity" value="{{ minimum }}" min="{ minimum }}" size="3" id="input-quantity" class="form-control" autocomplete="off" />
							<button class="plus">+</button>
						</div>

						<input type="hidden" name="product_id" value="{{ product_id }}" />
						<div class="order_buttons">

							{# <button class="order_btn" onclick="showModal()">Заказать</button> #}

							<button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="cart_btn">
								{{ button_cart }}
								<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.1345 2.2002L2.94482 1.8H2.50195H1.20195V1.2H3.3245L4.08466 2.80034L4.2745 3.2H4.71695H19.502C19.6676 3.2 19.802 3.33388 19.802 3.5C19.802 3.55499 19.7879 3.60003 19.7692 3.6327L19.7691 3.63266L19.7638 3.64226L16.1915 10.1275C16.1911 10.1282 16.1907 10.1289 16.1903 10.1296C15.9628 10.5334 15.5359 10.8 15.052 10.8H7.60195H7.18773L6.98836 11.1631L6.09525 12.7897C6.01089 12.9403 5.97695 13.1 5.97695 13.25C5.97695 13.7766 6.40035 14.2 6.92695 14.2H17.802V14.8H6.50195C5.78355 14.8 5.20195 14.2184 5.20195 13.5C5.20195 13.2747 5.25888 13.0635 5.36241 12.8685L6.71004 10.4228L6.88297 10.109L6.7295 9.7852L3.1345 2.2002ZM5.21195 18.5C5.21195 17.777 5.78812 17.2 6.50195 17.2C7.22035 17.2 7.80195 17.7816 7.80195 18.5C7.80195 19.2184 7.22035 19.8 6.50195 19.8C5.78812 19.8 5.21195 19.223 5.21195 18.5ZM15.212 18.5C15.212 17.777 15.7881 17.2 16.502 17.2C17.2204 17.2 17.802 17.7816 17.802 18.5C17.802 19.2184 17.2204 19.8 16.502 19.8C15.7881 19.8 15.212 19.223 15.212 18.5Z" stroke="white" stroke-width="1.4"/>
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>


    {% if url_video %}
    <div class="product_card__video">
      <iframe class="" src="{{ url_video }}" width="100%" height="320px" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe>
    </div>
    {% endif %}

    <p class="product_card__description">{{ description }}</p>

    {% if products %}
    <section class="recommended-products">

      <div class="recommended-products-swiper swiper">
        <h2 class="recommended-products__title">С этим товаром покупают</h2>

        <div class="recommended-products__buttons-container">
          <div class="recommended-products-swiper-button-prev"></div>
          <div class="recommended-products-swiper-button-next"></div>
        </div>


        <div class="swiper-wrapper">

          {% for product in products %}
            <article class="recommended-product swiper-slide">
              <a href="{{ product.href }}">
                <img class="recommended-product__img" src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" width="236" height="260" />
              </a>

              {% if product.special %}
								<span class="recommended-product__discount-mark">Скидка</span>
							{% endif %}

              <p class="recommended-product__name">{{ product.name }}</p>

              <div class="recommended-product__price-container">
                {% if not product.special %}
                  <p class="recommended-product__new-price">{{ product.price }}{% if product.measure %}/{{ product.measure }}{% endif %}</p>
                {% else %}
                  <span class="recommended-product__new-price">{{ product.special }}</span>
                  <span class="recommended-product__price">{{ product.price }}{% if product.measure %}/{{ product.measure }}{% endif %}</span>
                {% endif %}
              </div>
            </article>
          {% endfor %}
        </div>
        <div class="recommended-products-swiper__pagination"></div>
      </div>
		</section>
    {% endif %}
	</div>
</div>

<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script>

<script type="text/javascript"><!--

// Появление окошка добавления товара в корзину
function showMessageProductAdded() {
  $(".product-added").fadeIn(300);
	setTimeout(function(){
    $(".product-added").fadeOut(300);
	}, 1500);
}

$('.product_card .info .price_and_controls .order_buttons .cart_btn').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('.product_card input[type=\'text\'], .product_card input[type=\'hidden\'], .product_card input[type=\'radio\']:checked, .product_card input[type=\'checkbox\']:checked, .product_card select, .product_card textarea'),
		dataType: 'json',
		success: function(json) {
      showMessageProductAdded();
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				console.log(json);
				//$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				setTimeout(function () {
					$(".mobile_menu .navigation .item.cart .quantity").html(json['total_short']);
					$("header .body .main_cart span").html(json['total_short']);
				}, 100);

				//$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

				//$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script>

<script type="text/javascript"><!--

$(document).ready(function() {
	$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});
});
//--></script>
{{ footer }}
